<div class="">

    <div class="col-md-12">
        <nav class="navbar navbar-expand-lg navbar-light" id="nav1">

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/admin/home"><img src="/img/Sem%20T%C3%ADtulo-332.png"
                                style="width: 120px; margin-top: 5px;"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="home" href="modal.html" style="margin-left: 150px;">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="features" href="#" style="margin-left: 200px;">Artistas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pricing" href="#" style="margin-left: 200px;">Empresários</a>
                    </li>
                </ul>
            </div>
            <a id="log" class="btn" href="#" data-toggle="modal" data-target="#modallogin"
                style="font-size: 20px">Entrar</a>
            <a href="#" id="sign" class="btn" data-toggle="modal" data-target="#modalsign"
                style="font-size: 20px;">Cadastrar-se</a>
        </nav>

    </div>
    {{#each errors}}
    <div class="alert alert-danger">{{text}}</div>
    {{else}}

    {{/each}}
    <div class="col-md-12 anime" style="background-color: #2892d7;box-shadow: 1px 1px 5px #1b4353">

        <section class="anime">
            <div class="row">
                <div class="col-md-5">
                    <img id="img1" src="/img/Sem%20T%C3%ADtulo-2212.png" style="float: left">
                </div>
                <div class="row col-md-7">
                    <p style="float: right; margin-top: 120px; color: white; margin-bottom: 90px">O Brasil é um país
                        muito grande, diferentes culturas e pessoas vivem aqui, onde pequenos artistas e bandas podem
                        ter dificuldades para se destacar em todo esse meio. Como um artista pode se destacar e
                        conseguir visibilidade na área? Gerenciar sua agenda também pode ser um trabalho manual que pode
                        demorar e gerar esforço desnecessário, com o L'artiste tudo isso será possível!</p>
                </div>
            </div>
        </section>

    </div>
    <div class="col-md-12">
        <section class="anime">
            <div class="col-md-4">
                <p style="float: left; margin-top: 130px">O sistema se trata de uma rede social onde músicos, fãs e
                    empresários podem se relacionar, aproximando assim o músico de seus ouvintes e de possíveis
                    investidores ou empresários que queiram contratá-lo para um show. As informações serão utilizadas
                    para levantar estatísticas de regiões com toda informação circulada na rede, como: estilo musical
                    predominante na região e o local com maiores oportunidades de apresentações.
                </p>
            </div>
            <div class="row col-md-8">
                <img id="img2" src="/img/undraw_compose_music_ovo2.png" style="width: 900px">
            </div>
        </section>
    </div>

    <a id="bt1" href="#" class="btn anime3" style="margin-top:-300px; margin-left: 30px;">Saiba mais!</a>

    <div class="col-md-12 anime" style="background-color: #2892d7; box-shadow: 1px 1px 5px #1b4353">

        <section class="anime">
            <div class="col-md-5">
                <img src="/img/undraw_balloons_vxx52.png" style="float: left; width: 400px">
            </div>
            <div class="row col-md-7">
                <p style="float: right; margin-top: 145px;color: white">Também atendendendo aos empresários, sejam eles
                    de donos de restaurantes, bares, pubs, casas de show, ou investidores em geral, na qual, poderão
                    procurar por um artista, agendar show com o artista, analisar seu perfil, suas músicas e suas
                    avaliações e entrar em contato com ele, realizando isso de um jeito flúido e prático.</p>
            </div>
            <a id="bt2" href="#" class="btn anime4" style="margin-left: 550px;">Saiba mais!</a>
        </section>

    </div>

    <div class="col-md-12" style="background-color: rgb(238, 238, 238)">
        <footer class="page-footer font-small blue pt-4">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    
                      <div class="col-md-6 mt-md-0 mt-3">
                        <h5 class="text-uppercase">About us</h5>
                        <p>Here you can use rows and columns to organize your footer content.</p>
                      </div>

                    <hr class="clearfix w-100 d-md-none pb-3">

                    {{!-- <div class="col-md-3" style="margin-left: 435px">
                        <img id="img3" class="" src="/img/music_girl.png">
                    </div> --}}

                      <div class="col-md-3" style="margin-left: 300px">
                        <h5 class="text-uppercase" style="padding: 5px">Follow us!</h5>

                        <ul class="list-unstyled">
                          <li id="foot">
                            <a href="#!" style="padding: 5px" id="footer"><img src="/img/icons/instagram.png" id="footer" style="margin-right: 10px">Instagram</a>
                          </li>
                          <li style="margin-top: 15px">
                            <a href="#!" id="footer" style="padding: 5px;"><img src="/img/icons/facebook.png" id="footer" style="margin-right: 10px">Facebook</a>
                          </li>
                          <li style="margin-top: 15px;">
                            <a href="#!"  id="footer" style="padding: 5px;"><img src="/img/icons/linkedin2.png" id="footer" style="margin-right: 10px">LinkedIn</a>
                          </li>
                          </ul>
                      </div>

                </div>
            </div><br>
            <div style="margin-left: 30px; ;position:absolute;display: block;bottom: 0;left: 0;right:0">
                <p>© 2019 Copyright: José Otávio Bremm</p>
            </div>

        </footer>
        <!-- Footer -->
    </div>

    <!-- Modais -->
    <!-- modal cadastro-->
    <div class="modal fade" id="modalsign" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <img src="/img/Sem%20T%C3%ADtulo-332.png" style="width: 100px;">
                    <h1 class="modal-title" style="margin-left: 55px;">Cadastro</h1>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>

                <div class="modal-body">
                    <form action="/admin/add/user" method="POST">
                            <div class="form-group">
                                {{#each erros}}
                                    <div class="alert alert-danger">{{text}}</div>
                                {{else}}

                                {{/each}}
                                <label class="formlabel" for="nome">Nome</label>
                                <input type="text" name="name" class="form-control inputform" id="username"
                                    aria-describedby="Nome usuário" placeholder="Ex: José Otávio">
                                <label class="formlabel" for="email">Email</label>
                                <input type="email" class="form-control inputform" name="email" d="email" aria-describedby="E-mail"
                                    placeholder="Ex: artiste@artiste.com">
                                <label class="formlabel" for="email2">Confirme seu email</label>
                                <input type="email" class="form-control inputform" id="email2"
                                    aria-describedby="E-mail confirm" placeholder="Ex: artiste@artiste.com">
                                <label class="formlabel" for="senha">Senha</label>
                                <input type="password" name="password" class="form-control inputform" id="senhac" aria-describedby="senha"
                                    placeholder="Insira sua senha">
                                <label class="formlabel" for="senha">Confirme sua senha</label>
                                <input type="password" class="form-control inputform" id="senhac2"
                                    aria-describedby="senha confirm" placeholder="Confirme sua senha">
                            </div>
                            
                </div>

                        <div class="modal-footer">
                            <a type="button" class="btn btn-cancelar" data-dismiss="modal">Cancelar</a>
                            <button type="submit" class="btn btn-entrar">Salvar</button>
                        </div>
                    </form>

            </div>
        </div>
    </div>
    <!-- modal login-->
    <div class="modal fade" id="modallogin" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <img src="/img/Sem%20T%C3%ADtulo-332.png" style="width: 100px;">
                    <h1 class="modal-title" style="margin-left: 70px;">Login</h1>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
                </div>

                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="formlabel" for="email">Email</label>
                            <input type="email" class="form-control inputform" id="email" aria-describedby="E-mail"
                                placeholder="Ex: artiste@artiste.com">
                            <label class="formlabel" for="senha">Senha</label>
                            <input type="password" class="form-control inputform" id="senha" aria-describedby="Senha"
                                placeholder="Insira sua senha">
                            <div>
                                <input type="checkbox" class="form-control inputform" id="conectado"
                                    aria-describedby="Conectado" style="float: left; width: 10px">
                                <label for="conectado" class="formlabel"
                                    style="margin-left: 10px;margin-bottom: 5px">Manter-se conectado</label>
                            </div>
                        </div>
                    
                </div>

                    <div class="modal-footer">
                        <a type="button" class="btn btn-cancelar" data-dismiss="modal">Cancelar</a>
                        <button type="submit" class="btn btn-entrar">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Scripts -->